body{
    margin: 0;
    background-image: url(felix.png.png);
}
nav{
    width: 100%;
    float: left;
}

.menu{
    margin: 0;
    padding: 8px;
    height: 21px;
    background-color: rgb(22, 22, 206);
}

.menu  li{
    display: inline;
    
}
.button{
    font-family: arial;
    font-size: 1em;
    font-style: none;
    color: white;
    padding: 8px;
    text-decoration: none;
}
li{
    text-decoration: none;
}
.button:link{
    background-color: blue;
    color: white;
}
.button:hover{
    background-color: rgb(190, 122, 190);
    
}
a{
    color: white;
    text-decoration: none;
}
